streamlit==1.20.0
torch>=1.9.0
transformers>=4.16.2
diffusers>=0.2.4
pillow>=8.2.0
pygments==2.18.0
pynput==1.7.7
pyparsing==3.1.2
python-dateutil==2.9.0
python-slugify==8.0.4
pytz==2024.1
numpy>=1.21.4
requests==2.31.0        # For making API calls to Hugging Face
pandas>=1.5.3   # For DataFrame operations (ensure compatibility with numpy)
